* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.home {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

li {
  cursor: pointer;
}

/* nav bar styles */
.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 50px;
  height: 69px;
  background-color: white;
}

.aboutInfo {
  background-color: white;
  width: 100%;
  height: 8em;
}
.aboutInfo p {
  margin-right: 700px;
  margin-left: 30px;
}
.hidden {
  display: none;
}
/*  
.show {
  display: block;
  background-color: white;
} */

h3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #17873f;
  font-weight: 1000;
  font-size: 1.5em;
  /* margin-right: 11rem; */
  letter-spacing: 3px;
}

.green-font {
  color: #17873f;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.num {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  color: white;
  font-weight: lighter;
  background-color: #17873f;
}

.list li {
  list-style: none;
  padding: 10px;
}

#home-image {
  position: relative;
  top: 0;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-size: 10rem;
}

#skincare {
  /* color: white; */
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 88vh;
  margin-left: 2rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 300;
}

#second {
  margin-top: 3em;
}

#introP {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 500px;
  font-weight: 500;
  margin-bottom: 50px;
}

.routineSection {
  display: flex;
}

.routineSection div {
  margin-left: 3em;
}

.pharell1 {
  width: 80%;
  height: 80%;
}

.threepiece {
  width: 90%;
  height: 80%;
  margin-bottom: 2rem;
}

#routinePackInfo {
  height: 100px;
}

#routinePackInfo li {
  list-style: none;
  font-size: 1.2em;
  padding-bottom: 3px;
}

.foot {
  margin-top: 200px;
  padding: 40px;
  height: auto;
  width: auto;
  background-color: rgba(220, 220, 220, 0.178);
  font-weight: 400;
}

.links {
  margin-top: 20px;
  display: flex;
}

.linkInfo {
  margin-right: 10rem;
}

.linkInfo li {
  list-style: none;
  font-size: 0.9em;
  padding: 2px 0px;
}

.header {
  margin-bottom: 0.9em;
}

@media screen and (max-width: 1680px) {
  #introP {
    margin: 0 300px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1250px) {
  #introP {
    margin: 0 200px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 900px) {
  #introP {
    text-align: center;
    font-size: 1.3rem;
    margin: 0 100px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  #introP {
    text-align: center;
    font-size: 1rem;
    margin: 0 50px;
    margin-bottom: 50px;
  }

  .pharell1 {
    height: 100%;
    width: 100%;
  }

  .routineSection {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #routinePackInfo {
    font-size: 0.8em;
  }

  #home-image {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .logo {
    font-size: 4em;
  }

  .humanLogo {
    font-size: 0.9em;
  }

  .list {
    display: none;
  }

  .threepiece {
    width: 100%;
    height: 96%;
  }

  .routineSection div {
    margin-left: 0em;
  }

  .links {
    display: grid;
    gap: 20px;
  }

  #skincare {
    position: absolute;
    bottom: 1%;
    font-size: 0.9em;
  }
}
